.laver-test {
    &.trama-fondo {
        background-image: url(../images/trama.jpg);
        .diploma {
            width: 860px;
            height: 600px;
            background-image: url(../images/diploma-prueba.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            margin: 40px auto;
            .name {
                @include laver-font (600,40);
                color: #000;
                position: absolute;
                top: 40%;
                left: 50%;
                transform: translateX(-200px);
                padding: 20px 40px;
                background-color: #fff;
            }
        }
    } 
}