.laver-test {
    &.trama-fondo {
        background-image: url(../images/trama.jpg);
        .content-diploma {
            margin: 20px auto;
            .diploma {
                width: 350px;
                height: 500px;
                background-image: url(../images/diploma-prueba.jpg);
                background-repeat: no-repeat;
                background-size: contain;
                position: relative;
                margin: 40px auto;
                @include laver-to(medium) {
                    width: 700px;
                }
                .name {
                    @include laver-font (600,30);
                    color: #000;
                    position: absolute;
                    top: 70px;
                    left: 50px;
                    //transform: translateX(-200px);
                    padding: 20px 40px;
                    @include laver-to(medium) {
                        @include laver-font (600,50);
                        top: 170px;
                        left: 190px;
                    }
                }
            }
        }  
    } 
}