//variables de color
$text: rgba(0, 0, 0, 0.7);
$text-preq: rgba(0, 0, 0, 0.5);
$text-2: rgba(0, 0, 0, 0.3);
$select: #17a2b8;
$text-select: #1B6487;
$oro: #D0A24C;
$bg-question: #F3F1ED;
$love: #F1724D;
$little-love: #F7BDAC;
$bg-test: rgba(0,0,0,0.1);

//mediaQueries
$competitive-sm: 576px; // Breakpoint for smartphone
$competitive-md: 768px; // Breakpoint for tablet portrait
$competitive-lg: 992px; // Breakpoint for tablet landscape
$competitive-el: 1025px; // Breakpoint for desktop
